{#
  partials/footer.html
  Application footer.
#}
<footer class="app-footer" role="contentinfo">
    <div class="app-footer__inner">
        <p class="app-footer__institution">
            Sri Lanka Institute of Information Technology (SLIIT) &mdash;
            Centre of Excellence in Artificial Intelligence (CoEAI)
        </p>
        <p class="app-footer__note">
            Academic research prototype &mdash; J26-DS-310 &mdash;
            No real participant data is stored in this repository.
            &copy; <span id="footerYear"></span> SLIIT Research Team.
        </p>
    </div>
</footer>
